<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="box1">
    {{10+20}}
    {{myhtml}}
    <div v-html="myhtml"></div>
    <input type="text" v-model="mytext"/>
    <button @click="handleAdd" v-model="myname">add</button>
</div>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script>
    new Vue ({
        el:"#box1",
        data: {
            myname:"kerwin",
            myhtml:"<b>111111111</b>",
            mytext:"我是初始值"
        },
        methods:{
            handleAdd() {
                console.log(this.mytext);
                this.datalist.push(this.)
            }
        }

    })
</script>
</body>
</html>
