<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="box">


    <!-- <div v-else>我是动态创建和删除---22222</div> -->
    <div v-if="isShow">
        1111111111
    </div>
    <div v-else>
        222222
    </div>

    <button @click="handleClick()">send</button>
    <div v-if="datalist.length">
        <ul>
            <li v-for="data in datalist">
                {{data}}
            </li>
        </ul>
    </div>
    <div v-else>
        还未创建列表
    </div>


    <div v-if="isCreated===1">
        111111
    </div>

    <div v-else-if="isCreated===2">
        2222222
    </div>


    <div v-else>
        3333333
    </div>

    <template v-if="isShow">
        <div >同时创建-11111</div>
        <div >同时创建-22222</div>
        <div >同时创建-33333</div>
    </template>
</div>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script>
var vm = new Vue({
    el:"#box",
    data:{
        isCreated:false,
        datalist: [],
        isCreated:1
    },
    methods:{
        handleClick() {
            this.datalist = ["111","222","333"]
            this.isCreated=true
            this.isShow = false
            this.isCreated = this.isCreated+1
        }
    }
})
</script>
</body>
</html>
